# ETL Project

In [30]:
# imports
import pandas as pd
import numpy as np
import requests
from sqlalchemy import create_engine

In [2]:
## Chris Extract/Transform below

In [12]:
# ufo data from wikipedia
ufo_url = 'https://en.wikipedia.org/wiki/List_of_reported_UFO_sightings'
ufo_df = pd.read_html(ufo_url)[5]
#ufo_df = ufo_df[5]
ufo_df

,0,1,2,3,4,5,6
0,Date,Name,"City, State",Country,Description,Sources,Hynek Scale
1,1909,Mystery airships,Otago,New Zealand,Strange moving lights and some solid bodies in...,[19][20],1
2,1917-08-1309-1310-13,Miracle of the Sun,"Fátima, Santarém District",Portugal,Thousands of people observed the sun gyrate an...,[21][22][23],1
3,1940s,Foo fighters,NaN,Over World War II theaters,Small metallic spheres and colorful balls of l...,[24][25],2
4,1941,Cape Girardeau UFO crash,"Cape Girardeau, Missouri",United States,First responders and a Baptist minister allege...,[26][27][28],3
5,1942,Hopeh Incident,"Tsientsien, Hebei",China,Photographs show what is reported to be a UFO.,[29],2
6,1942-02-24,Battle of Los Angeles,"Los Angeles, California",United States,Unidentified aerial objects trigger the firing...,[30],2
7,1946,The Ghost Rockets,NaN,"Mostly in Scandinavia, but also other European...",Numerous UFO sightings were reported over Scan...,[31],2
8,1946-05-18,UFO-Memorial Ängelholm,"Ängelholm, Kristianstads County",Sweden,Gösta Karlsson reports seeing a flying saucer ...,[32],3
9,1947-06-21,Maury Island incident,"Puget Sound near Maury Island, Washington",United States,Harold A. Dahl reported that his dog was kille...,[33],2
10,1947-06-24,Kenneth Arnold UFO sighting,"North of Mount Rainier, Washington",United States,The UFO sighting that sparked the name flying ...,[34],0
11,1947-06/07,1947 UFO sightings,mostly Washington,United States,Several UFO sightings reported after the sight...,[34],NaN
12,1947-06,Roswell UFO crash,"about 30 mi north of Roswell, New Mexico",United States,United States Army Air Forces allegedly captur...,[35][36],3
13,1947-07-23,Bauru Close Encounter,"Bauru, São Paulo",Brazil,"José Higgins, a topographer, reports a close e...",[37],3
14,1948,The Green Fireballs,NaN,United States,Objects were reported over several United Stat...,[38][39],2
15,1948-01-07,Thomas Mantell,Kentucky,United States,US Air Force sent a fighter pilot to investiga...,[40],2
16,1948-07-24,Chiles-Whitted UFO encounter,Alabama,United States,"Chiles and Whitted, American commercial pilots...",NaN,1
17,1948-10-01,Gorman dogfight,North Dakota,United States,A US Air Force pilot sighted and pursued a UFO...,[41][42],1
18,1948-10-15,Fukuoka Incident,Kyushu Island,Japan,The radar of a F-61 Black Widow detected a tar...,[43],2
19,1949,"Aztec, New Mexico, UFO incident",New Mexico,United States,An alleged retrieval of a grounded UFO and its...,NaN,3
20,1950-04-09,Fort Worth sighting,"Fort Worth, Texas",United States,A UFO was sighted and photographed at 5.30 p.m...,[44],2
21,1950-05-11,McMinnville UFO photographs,"a farm near McMinnville, Oregon",United States,"A farmer took pictures of a purported ""flying ...",[45],2
22,1950-08-05 or 15,Mariana UFO incident,"Great Falls, Montana",United States,The manager of Great Falls' pro baseball team ...,[46],2
23,1951-08-25,Lubbock Lights,"Lubbock, Texas",United States,Several Lights in V-Shaped formations were rep...,[47],2
24,1951-09-10,Fort Monmouth UFO Case,"Monmouth County, New Jersey",United States,"At Fort Monmouth Base, a radar operator picked...",[48],2
25,1952-07-12 to 29,"1952 Washington, D.C. UFO incident","Washington, D.C.",United States,A series of sightings in July 1952 accompanied...,[49],1
26,1952-07-14,Nash-Fortenberry UFO sighting,"Norfolk, Virginia",United States,"W. Nash and W. Fortenberry, pilots of a DC-4 a...",[50],1
27,1952-07-16,"1952 Salem, Massachusetts UFO incident",Coast Guard Air Station Salem,United States,Coast Guard photographer Shell Alpert took a p...,[51],1
28,1952-07-24,Carson Sink UFO incident,"near Carson Sink, Nevada",United States,Two pilots saw three unusual Delta wing aircra...,[52],1
29,1952-07-29,Miami UFO movie,"Miami, Florida",United States,"Ralph Mayher, stationer in Miami as a member o...",[53],2
...,...,...,...,...,...,...,...
112,1980-12-29,Cash-Landrum incident,"On state highway FM 1485 in New Caney, Texas",United States,A huge diamond-shaped object expelling flame a...,[164],2
113,1981-01-08,Trans-en-Provence Case,"Trans-en-Provence, Provence-Alpes-Côte d'Azur",France,Retired contractor Renato Nicolai said he saw ...,[165],2
114,1981-12-31,Hudson Valley Sightings/Hudson Valley Boomerang,Hudson Valley,United States,A wave of reported UFO sightings in the Hudson...,[166],"2, 3 & 4"
115,1983-06-30,Copely Woods Encounter,"A suburb of Indianapolis, Indiana",United States,Hundreds of basketball-sized ball of lights we...,[167],4
116,1985-12-27,Communion,New York,United States,Author Whitley Strieber claims he was abducted...,[168],4
117,1986-01-29,Height 611 UFO incident,"Dalnegorsk, Primorski Krai",Soviet Union,The inhabitants of the town watched a reddish ...,NaN,2?
118,1986-05-19,São Paulo UFO sighting,São Paulo and Rio de Janeiro,Brazil,Brazilian Air Force allegedly detect and inter...,NaN,2
119,1986-11-17,Japan Air Lines flight 1628 incident,From eastern to south central Alaska,United States,"First two square-shaped, then one very large c...",[169],2
120,1987-11-11,Gulf Breeze UFO incident,Florida,United States,"Ed Walters, a building contractor claimed to s...",NaN,2
121,1989-09-27,Voronezh UFO incident,Voronezh,Soviet Union,A group of youths claimed to have seen a UFO a...,[170],3
122,1990-03-30,Belgian UFO wave,"Ans, Wallonia",Belgium,"Reports of large, silent, low-flying black tri...",[171],2
123,1990-08-24,Greifswald Lights,"Greifswald, Bezirk Rostock","East Germany, Central Europe","At 8,30 p.m. many people saw a group of 7 lumi...",[172],2
124,1990-11-07,Montreal Sighting,Montreal,Canada,"On November 7, 1990, at around 7PM, about 40 p...",[173][174],1
125,1991-04-07,Baviaanspoort Sighting,Pretoria,South Africa,A hovering triangular craft with red central l...,[175][176][177],1
126,1991-09-15,STS-48 incident,Space Shuttle Discovery while in orbit,Outer space,Video taken during mission STS-48 shows a flas...,[178],0
127,1993-08-08,Kelly Cahill Abduction,at a road in the Dandenong Ranges near Belgrav...,Australia,Housewife Kelly Cahill reported seeing a large...,[179][180],5
128,1993-11-18,Sasolburg Sighting,Sasolburg,South Africa,Residents of Sasolburg observed a craft arrivi...,[181][182],"1, 2"
129,1994-09,Warrenton Sighting,Warrenton,South Africa,A farmer claimed to have made repeated observa...,[183],1
130,1994-09-16,Ariel UFO incident,"Ruwa, East Mashonaland",Zimbabwe,62 children saw a landed round aircraft and a ...,[184][185],3
131,1995-03,South Africa UFO Flap,NaN,South Africa,A UFO flap swept South Africa from late March ...,[186][187][188],2
132,1995-05-25,America West Airlines Flight 564,"Bovina, Texas",United States,A 300–400 foot long cigar-shaped UFO with rota...,[189],2
133,1996-01-20,Varginha UFO incident,Varginha,Brazil,Brazilian Armed Forces allegedly captured extr...,[190],3
134,1996-07-28,Erasmuskloof Sighting,Pretoria,South Africa,A glowing disc was sighted by Sergeant Becker ...,[191][192][193],1
135,1996-10-05,Westendorff UFO sighting,Pelotas,Brazil,Pilot observes a UFO emerge from a mother craft.,NaN,1
136,1996-12-02,STS-80 incidents,Space Shuttle Columbia while in orbit,Outer space,A video taken during mission STS-80 of the Spa...,[194][195],2
137,1997-03-13,Phoenix Lights,"Phoenix, Arizona",United States,"Lights and craft of varying descriptions, most...",[196][197],1
138,1997-07,Trichardt Sighting,Trichardt,South Africa,"A hovering, cylindrical light or shiny cloud, ...",[198],0
139,1998-12-27,Graaff-Reinet sighting,Graaff-Reinet,South Africa,The Laubscher family videotaped a group of rou...,[199][200],0
140,2000-01-05,Southern Illinois UFO incident or St. Clair Tr...,"St. Clair County, Illinois",United States,Some police officers and other witnesses repor...,[201],1
141,2000-05-08,Warden Sighting,Warden,South Africa,Police inspector Kriel claimed to have observe...,[202],1

In [13]:
ufo_df.columns = ufo_df.iloc[0]
ufo_df = ufo_df.reindex(ufo_df.index.drop(0))
# dates = ufo_df['Date']
# dates

In [31]:
dates = ufo_df['Date']
year = []
month = []
day = []
for date in dates:
    date = date.strip('s')
    date = date.split('-')
    year.append(date[0])
    if len(date) > 1:
        month.append(date[1])
    else:
        month.append(None)
    if len(date) > 2:
        day.append(date[2])
    else:
        day.append(None)


#ufo_df = ufo_df.drop(columns=['Year'])
# print(year)
#ufo_df.insert(loc=0, column='Year', value=year)
#ufo_df.insert(loc=1, column='Month', value=month)
#ufo_df.insert(loc=2, column='Day', value=day)
ufo_df_clean = ufo_df[['Year', 'Month', 'Day', 'Date', 'Name', 'Country', 'Description']].copy()
ufo_df_clean

,Year,Month,Day,Date,Name,Country,Description
1,1909,None,None,1909,Mystery airships,New Zealand,Strange moving lights and some solid bodies in...
2,1917,08,1309,1917-08-1309-1310-13,Miracle of the Sun,Portugal,Thousands of people observed the sun gyrate an...
3,1940,None,None,1940s,Foo fighters,Over World War II theaters,Small metallic spheres and colorful balls of l...
4,1941,None,None,1941,Cape Girardeau UFO crash,United States,First responders and a Baptist minister allege...
5,1942,None,None,1942,Hopeh Incident,China,Photographs show what is reported to be a UFO.
6,1942,02,24,1942-02-24,Battle of Los Angeles,United States,Unidentified aerial objects trigger the firing...
7,1946,None,None,1946,The Ghost Rockets,"Mostly in Scandinavia, but also other European...",Numerous UFO sightings were reported over Scan...
8,1946,05,18,1946-05-18,UFO-Memorial Ängelholm,Sweden,Gösta Karlsson reports seeing a flying saucer ...
9,1947,06,21,1947-06-21,Maury Island incident,United States,Harold A. Dahl reported that his dog was kille...
10,1947,06,24,1947-06-24,Kenneth Arnold UFO sighting,United States,The UFO sighting that sparked the name flying ...
11,1947,06/07,None,1947-06/07,1947 UFO sightings,United States,Several UFO sightings reported after the sight...
12,1947,06,None,1947-06,Roswell UFO crash,United States,United States Army Air Forces allegedly captur...
13,1947,07,23,1947-07-23,Bauru Close Encounter,Brazil,"José Higgins, a topographer, reports a close e..."
14,1948,None,None,1948,The Green Fireballs,United States,Objects were reported over several United Stat...
15,1948,01,07,1948-01-07,Thomas Mantell,United States,US Air Force sent a fighter pilot to investiga...
16,1948,07,24,1948-07-24,Chiles-Whitted UFO encounter,United States,"Chiles and Whitted, American commercial pilots..."
17,1948,10,01,1948-10-01,Gorman dogfight,United States,A US Air Force pilot sighted and pursued a UFO...
18,1948,10,15,1948-10-15,Fukuoka Incident,Japan,The radar of a F-61 Black Widow detected a tar...
19,1949,None,None,1949,"Aztec, New Mexico, UFO incident",United States,An alleged retrieval of a grounded UFO and its...
20,1950,04,09,1950-04-09,Fort Worth sighting,United States,A UFO was sighted and photographed at 5.30 p.m...
21,1950,05,11,1950-05-11,McMinnville UFO photographs,United States,"A farmer took pictures of a purported ""flying ..."
22,1950,08,05 or 15,1950-08-05 or 15,Mariana UFO incident,United States,The manager of Great Falls' pro baseball team ...
23,1951,08,25,1951-08-25,Lubbock Lights,United States,Several Lights in V-Shaped formations were rep...
24,1951,09,10,1951-09-10,Fort Monmouth UFO Case,United States,"At Fort Monmouth Base, a radar operator picked..."
25,1952,07,12 to 29,1952-07-12 to 29,"1952 Washington, D.C. UFO incident",United States,A series of sightings in July 1952 accompanied...
26,1952,07,14,1952-07-14,Nash-Fortenberry UFO sighting,United States,"W. Nash and W. Fortenberry, pilots of a DC-4 a..."
27,1952,07,16,1952-07-16,"1952 Salem, Massachusetts UFO incident",United States,Coast Guard photographer Shell Alpert took a p...
28,1952,07,24,1952-07-24,Carson Sink UFO incident,United States,Two pilots saw three unusual Delta wing aircra...
29,1952,07,29,1952-07-29,Miami UFO movie,United States,"Ralph Mayher, stationer in Miami as a member o..."
30,1952,07,30,1952-07-30,Oldenburg UFO Encounter,West Germany,"Roland Hughes, a RAF pilot, reported that he h..."
...,...,...,...,...,...,...,...
112,1980,12,29,1980-12-29,Cash-Landrum incident,United States,A huge diamond-shaped object expelling flame a...
113,1981,01,08,1981-01-08,Trans-en-Provence Case,France,Retired contractor Renato Nicolai said he saw ...
114,1981,12,31,1981-12-31,Hudson Valley Sightings/Hudson Valley Boomerang,United States,A wave of reported UFO sightings in the Hudson...
115,1983,06,30,1983-06-30,Copely Woods Encounter,United States,Hundreds of basketball-sized ball of lights we...
116,1985,12,27,1985-12-27,Communion,United States,Author Whitley Strieber claims he was abducted...
117,1986,01,29,1986-01-29,Height 611 UFO incident,Soviet Union,The inhabitants of the town watched a reddish ...
118,1986,05,19,1986-05-19,São Paulo UFO sighting,Brazil,Brazilian Air Force allegedly detect and inter...
119,1986,11,17,1986-11-17,Japan Air Lines flight 1628 incident,United States,"First two square-shaped, then one very large c..."
120,1987,11,11,1987-11-11,Gulf Breeze UFO incident,United States,"Ed Walters, a building contractor claimed to s..."
121,1989,09,27,1989-09-27,Voronezh UFO incident,Soviet Union,A group of youths claimed to have seen a UFO a...
122,1990,03,30,1990-03-30,Belgian UFO wave,Belgium,"Reports of large, silent, low-flying black tri..."
123,1990,08,24,1990-08-24,Greifswald Lights,"East Germany, Central Europe","At 8,30 p.m. many people saw a group of 7 lumi..."
124,1990,11,07,1990-11-07,Montreal Sighting,Canada,"On November 7, 1990, at around 7PM, about 40 p..."
125,1991,04,07,1991-04-07,Baviaanspoort Sighting,South Africa,A hovering triangular craft with red central l...
126,1991,09,15,1991-09-15,STS-48 incident,Outer space,Video taken during mission STS-48 shows a flas...
127,1993,08,08,1993-08-08,Kelly Cahill Abduction,Australia,Housewife Kelly Cahill reported seeing a large...
128,1993,11,18,1993-11-18,Sasolburg Sighting,South Africa,Residents of Sasolburg observed a craft arrivi...
129,1994,09,None,1994-09,Warrenton Sighting,South Africa,A farmer claimed to have made repeated observa...
130,1994,09,16,1994-09-16,Ariel UFO incident,Zimbabwe,62 children saw a landed round aircraft and a ...
131,1995,03,None,1995-03,South Africa UFO Flap,South Africa,A UFO flap swept South Africa from late March ...
132,1995,05,25,1995-05-25,America West Airlines Flight 564,United States,A 300–400 foot long cigar-shaped UFO with rota...
133,1996,01,20,1996-01-20,Varginha UFO incident,Brazil,Brazilian Armed Forces allegedly captured extr...
134,1996,07,28,1996-07-28,Erasmuskloof Sighting,South Africa,A glowing disc was sighted by Sergeant Becker ...
135,1996,10,05,1996-10-05,Westendorff UFO sighting,Brazil,Pilot observes a UFO emerge from a mother craft.
136,1996,12,02,1996-12-02,STS-80 incidents,Outer space,A video taken during mission STS-80 of the Spa...
137,1997,03,13,1997-03-13,Phoenix Lights,United States,"Lights and craft of varying descriptions, most..."
138,1997,07,None,1997-07,Trichardt Sighting,South Africa,"A hovering, cylindrical light or shiny cloud, ..."
139,1998,12,27,1998-12-27,Graaff-Reinet sighting,South Africa,The Laubscher family videotaped a group of rou...
140,2000,01,05,2000-01-05,Southern Illinois UFO incident or St. Clair Tr...,United States,Some police officers and other witnesses repor...
141,2000,05,08,2000-05-08,Warden Sighting,South Africa,Police inspector Kriel claimed to have observe...

In [47]:
eclipse_1900 = pd.read_csv('Data/1901-2000.csv', index_col=False)
eclipse_2000 = pd.read_csv('Data/2001-2100.csv', index_col=False)

In [3]:
## Stephanie Extract/Transform below

# Extract CSVs into DataFrames
    ### AtlanticStorms from https://www.kaggle.com/noaa/hurricane-database
        #### Each date has up to 5 observations per day (but not all days have 5)
        #### Older data appears to use -999 from wind pressure and speed instead of something like NA
        #### ID: AL = Atlantic, XX = number storm for year, YYYY = year
    ### PacificStorms from https://www.kaggle.com/noaa/hurricane-database
        #### Each date has up to 5 observations per day (but not all days have 5)
        #### Older data appears to use -999 from wind pressure and speed instead of something like NA
        #### ID: EP = Pacific, XX = number storm for year, YYYY = year
    ###

In [31]:
#Extract Atlantic Storm Data

AtlanticStorm = "Data/Atlantic_Storms.csv"
AtlanticStorm_df = pd.read_csv(AtlanticStorm)
AtlanticStorm_df.head()

,ID,Name,Date,Time,Event,Status,Latitude,Longitude,Maximum Wind,Minimum Pressure,...,Low Wind SW,Low Wind NW,Moderate Wind NE,Moderate Wind SE,Moderate Wind SW,Moderate Wind NW,High Wind NE,High Wind SE,High Wind SW,High Wind NW
0,AL011851,UNNAMED,18510625,0,,HU,28.0N,94.8W,80,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
1,AL011851,UNNAMED,18510625,600,,HU,28.0N,95.4W,80,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
2,AL011851,UNNAMED,18510625,1200,,HU,28.0N,96.0W,80,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
3,AL011851,UNNAMED,18510625,1800,,HU,28.1N,96.5W,80,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
4,AL011851,UNNAMED,18510625,2100,L,HU,28.2N,96.8W,80,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999

In [32]:
#Extract Pacific Storm Data

PacificStorm = "Data/Pacific_Storms.csv"
PacificStorm_df = pd.read_csv(PacificStorm)
PacificStorm_df.head()

,ID,Name,Date,Time,Event,Status,Latitude,Longitude,Maximum Wind,Minimum Pressure,...,Low Wind SW,Low Wind NW,Moderate Wind NE,Moderate Wind SE,Moderate Wind SW,Moderate Wind NW,High Wind NE,High Wind SE,High Wind SW,High Wind NW
0,EP011949,UNNAMED,19490611,0,,TS,20.2N,106.3W,45,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
1,EP011949,UNNAMED,19490611,600,,TS,20.2N,106.4W,45,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
2,EP011949,UNNAMED,19490611,1200,,TS,20.2N,106.7W,45,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
3,EP011949,UNNAMED,19490611,1800,,TS,20.3N,107.7W,45,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
4,EP011949,UNNAMED,19490612,0,,TS,20.4N,108.6W,45,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999

In [33]:
# Combine Atlantic and Pacific Storm Data

AtlPacStorms = [AtlanticStorm_df, PacificStorm_df]
AtlPacStorms_df = pd.concat(AtlPacStorms).reset_index(drop=True)
AtlPacStorms_df.head()

,ID,Name,Date,Time,Event,Status,Latitude,Longitude,Maximum Wind,Minimum Pressure,...,Low Wind SW,Low Wind NW,Moderate Wind NE,Moderate Wind SE,Moderate Wind SW,Moderate Wind NW,High Wind NE,High Wind SE,High Wind SW,High Wind NW
0,AL011851,UNNAMED,18510625,0,,HU,28.0N,94.8W,80,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
1,AL011851,UNNAMED,18510625,600,,HU,28.0N,95.4W,80,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
2,AL011851,UNNAMED,18510625,1200,,HU,28.0N,96.0W,80,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
3,AL011851,UNNAMED,18510625,1800,,HU,28.1N,96.5W,80,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
4,AL011851,UNNAMED,18510625,2100,L,HU,28.2N,96.8W,80,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999

In [34]:
# Check that Pacific Storms are included in combined df

AtlPacStorms_df.loc[AtlPacStorms_df['ID'] == "EP011949"]

,ID,Name,Date,Time,Event,Status,Latitude,Longitude,Maximum Wind,Minimum Pressure,...,Low Wind SW,Low Wind NW,Moderate Wind NE,Moderate Wind SE,Moderate Wind SW,Moderate Wind NW,High Wind NE,High Wind SE,High Wind SW,High Wind NW
49105,EP011949,UNNAMED,19490611,0,,TS,20.2N,106.3W,45,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
49106,EP011949,UNNAMED,19490611,600,,TS,20.2N,106.4W,45,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
49107,EP011949,UNNAMED,19490611,1200,,TS,20.2N,106.7W,45,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
49108,EP011949,UNNAMED,19490611,1800,,TS,20.3N,107.7W,45,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
49109,EP011949,UNNAMED,19490612,0,,TS,20.4N,108.6W,45,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
49110,EP011949,UNNAMED,19490612,600,,TS,20.5N,109.4W,45,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
49111,EP011949,UNNAMED,19490612,1200,,TS,20.6N,110.2W,45,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999

In [35]:
AtlPacStorms_df.dtypes

ID                  object
Name                object
Date                 int64
Time                 int64
Event               object
Status              object
Latitude            object
Longitude           object
Maximum Wind         int64
Minimum Pressure     int64
Low Wind NE          int64
Low Wind SE          int64
Low Wind SW          int64
Low Wind NW          int64
Moderate Wind NE     int64
Moderate Wind SE     int64
Moderate Wind SW     int64
Moderate Wind NW     int64
High Wind NE         int64
High Wind SE         int64
High Wind SW         int64
High Wind NW         int64
dtype: object

In [36]:
# Adjust date format

# make string version of original Date column, call it 'col'
AtlPacStorms_df['col'] = AtlPacStorms_df['Date'].apply(str)

# make the new columns using string indexing
AtlPacStorms_df['Year'] = AtlPacStorms_df['col'].str[0:4]
AtlPacStorms_df['Month'] = AtlPacStorms_df['col'].str[4:6]
AtlPacStorms_df['Day'] = AtlPacStorms_df['col'].str[6:8]

# get rid of the extra variable (if you want)
AtlPacStorms_df.drop('col', axis=1, inplace=True)

#check result
AtlPacStorms_df.head()

,ID,Name,Date,Time,Event,Status,Latitude,Longitude,Maximum Wind,Minimum Pressure,...,Moderate Wind SE,Moderate Wind SW,Moderate Wind NW,High Wind NE,High Wind SE,High Wind SW,High Wind NW,Year,Month,Day
0,AL011851,UNNAMED,18510625,0,,HU,28.0N,94.8W,80,-999,...,-999,-999,-999,-999,-999,-999,-999,1851,06,25
1,AL011851,UNNAMED,18510625,600,,HU,28.0N,95.4W,80,-999,...,-999,-999,-999,-999,-999,-999,-999,1851,06,25
2,AL011851,UNNAMED,18510625,1200,,HU,28.0N,96.0W,80,-999,...,-999,-999,-999,-999,-999,-999,-999,1851,06,25
3,AL011851,UNNAMED,18510625,1800,,HU,28.1N,96.5W,80,-999,...,-999,-999,-999,-999,-999,-999,-999,1851,06,25
4,AL011851,UNNAMED,18510625,2100,L,HU,28.2N,96.8W,80,-999,...,-999,-999,-999,-999,-999,-999,-999,1851,06,25

In [37]:
#Select columns to keep

AtlPacStorms_df = AtlPacStorms_df[["Year", "Month", "Day", "ID", "Status", "Time", "Latitude", "Longitude"]]
AtlPacStorms_df.head()

   Year Month Day        ID Status  Time Latitude Longitude
0  1851    06  25  AL011851     HU     0    28.0N     94.8W
1  1851    06  25  AL011851     HU   600    28.0N     95.4W
2  1851    06  25  AL011851     HU  1200    28.0N     96.0W
3  1851    06  25  AL011851     HU  1800    28.1N     96.5W
4  1851    06  25  AL011851     HU  2100    28.2N     96.8W

In [59]:
AtlPacStorms_df["Status"] = AtlPacStorms_df['Status'].astype(str)
AtlPacStorms_df.dtypes

Year         object
Month        object
Day          object
ID           object
Status       object
Time          int64
Latitude     object
Longitude    object
dtype: object

In [64]:
# We are only interested in Hurricanes to only keep rows with Status = HU

AtlPacStorms_df = AtlPacStorms_df.loc[AtlPacStorms_df["Status"] == " HU"]
AtlPacStorms_df.head()

   Year Month Day        ID Status  Time Latitude Longitude
0  1851    06  25  AL011851     HU     0    28.0N     94.8W
1  1851    06  25  AL011851     HU   600    28.0N     95.4W
2  1851    06  25  AL011851     HU  1200    28.0N     96.0W
3  1851    06  25  AL011851     HU  1800    28.1N     96.5W
4  1851    06  25  AL011851     HU  2100    28.2N     96.8W

In [69]:
# Keep only the first observation of each unique ID

Hurricane_df = AtlPacStorms_df.drop_duplicates(subset=[AtlPacStorms_df.columns[3]], keep = "first")
Hurricane_df.head()

     Year Month Day        ID Status  Time Latitude Longitude
0    1851    06  25  AL011851     HU     0    28.0N     94.8W
14   1851    07  05  AL021851     HU  1200    22.2N     97.6W
22   1851    08  17  AL041851     HU  1200    15.9N     58.5W
102  1852    08  20  AL011852     HU     0    21.2N     70.6W
143  1852    09  05  AL021852     HU     0    17.0N     64.1W

In [74]:
# Drop Status and Time columns

Hurricane_df = Hurricane_df[["Year", "Month", "Day", "ID", "Latitude", "Longitude"]]
Hurricane_df = Hurricane_df.reset_index(drop = True)
Hurricane_df.head()

   Year Month Day        ID Latitude Longitude
0  1851    06  25  AL011851    28.0N     94.8W
1  1851    07  05  AL021851    22.2N     97.6W
2  1851    08  17  AL041851    15.9N     58.5W
3  1852    08  20  AL011852    21.2N     70.6W
4  1852    09  05  AL021852    17.0N     64.1W

In [4]:
## Chris Load below

In [5]:
## Stephanie Load below